#!/usr/bin/env bash

export AWS_AMI='ami-e251209a'
export AWS_REGION='us-west-2'
export AWS_INSTANCE_TYPE='m4.2xlarge'

export AWS_KEYPAIR_NAME='fangyinlo'

export AWS_INSTANCE_TAG_NAME='Fangyinlo'
export AWS_INSTANCE_TAG_OWNER='fangyinlo'

export PRIVATE_KEY_PATH="~/.ssh/${AWS_KEYPAIR_NAME}.pem"
